* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
  margin-top: 0px;
  overflow: hidden;
  text-align: center;
}

.input {
  border: 2px solid #D1D3D4;
  color: #939598;
  display: block;
  margin: 15px auto 0;
  padding-left: 5px;
  height: 35px;
  width: 60%;
}

.title {
  color: #00A79D;
  font-size: 45px;
  margin: 0 10px;
  padding-top: 20px;
}

.box {
  color: #6D6E71;
}

.save-btn {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  display: block;
  margin: 15px auto;
  height: 35px;
  width: 60%;
}

.filter-btn:hover,
.completed:hover,
.save-btn:hover {
  background-color: #045E55;
}

.save-btn:disabled {
  background-color: #6D6E71;
}

h3 {
  margin: 40px 0 0 10px;
  text-align: center;
}

.search-input {
  height: 35px;
}

.search-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.filter-btn {
  background-color: #00A79D;
  color: #fff;
  display: inline-block;
  margin: 20px 5px;;
  height: 30px;
  width: 30%;
}

p {
  color: #939598;
  width: 90%;
}

.item-body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

.quality {
  color: #6D6E71;
}

.list-item {
  border-bottom: 2px solid #D1D3D4;
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  padding: 5px;
  width: 60%;
}

.item-title {
  color: #6D6E71;
  display: flex;
  font-family: 'Roboto Slab', serif;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}

.item-worth {
  align-items: center;
  display: flex;
  width: 60%;
}

.delete {
  align-self: center;
  right: 0px;
}

.quality,
.up-vote,
.down-vote {
  padding-right: 15px;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

.delete {
  align-self: center;
  background-image: url('../assets/delete.svg');
  background-repeat: no-repeat;
  border: none;
  height: 25px;
  width: 25px;
}

.delete:hover {
  background-image: url('../assets/delete-hover.svg');
}

.up-vote {
  background-image: url('../assets/upvote.svg');
  background-repeat: no-repeat;
  border: none;
  height: 25px;
  width: 25px;
}

.up-vote:hover {
  background-image: url('../assets/upvote-hover.svg');
}

.down-vote {
  background-image: url('../assets/downvote.svg');
  background-repeat: no-repeat;
  border: none;
  margin: 0 10px;
  height: 25px;
  width: 25px;
}

.down-vote:hover {
  background-image: url('../assets/downvote-hover.svg');
}

.completed {
  background-color: #00A79D;
  color: #fff;
  height: 35px;
  margin: 10px;
  width: 18%;
}

.complete-task {
  background-color: #6D6E71;
  border: 1px solid #ddd;
  border-radius: 100px;
  color: #fff;
  float: left;
  font-weight: lighter;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  width: 40%;
}

.complete-task:hover {
  background-color: #045E55;
  color: #fff;
}

.item-complete {
  background-color: #eaebed;
  text-decoration: line-through;
}


/*******************************
         media query @ 450px
*******************************/

@media (max-width: 853px) {
  .stack-btns {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .completed {
    width: 60%;
  }

  .search-btns {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
  }

  .filter-btn {
    height: 50px;
    width: 30%;
  }
}

@media (max-width: 620px) {
  .input {
    width: 80%;
  }

  .search-btns,
  .completed,
  .save-btn {
    height: 10%
    margin-top: 10px;
    width: 80%;
  }

  .complete-task {
    margin: 0 auto;
    width: 100%;
  }

  .list-item {
    width: 80%
  }

  .filter-btn {
    width: 45%;
  }

  .item-worth {
    width: 100%;
  }
}
